body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.formhold{

  width: 480px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  border: solid 1px #cfcfcf;
  margin-top: 15px;

}
.button_col{
  text-align: right;
}
.form-group {
  text-align: left!important;

}
App{
  text-align: left!important;
}